@import url("/css/header.css");
@import url("/css/tablist.css");
@import url("/css/content.css");

@font-face {
    font-family: 'Helvetica Neue Cyr Roman';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Helvetica Neue Cyr Roman', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
}
