/* ===== MAIN CONTENT ===== */
.content-wrapper {
    margin: 0 auto 0 233px;
}
.page-company {
    width: 550px;
}

/* company header */
.page-company__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
}
.page-company__title {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
    color: #262626;
}
.page-company__map-location {
    padding-top: 14px;
}
.fa-map-marker-alt {
    margin: 0 5px 0 12px;
    color: #6e6e6e;
}

/* ====== COMPANY INFO ====== */
/* content tabs */
.control-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin: 0;
}
.content-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #cfcfcf;
    margin: 0 -1px 0 0;
}
.content-toggle:first-child {
    border-radius: 3px 0 0 3px;
}
.content-toggle:last-child {
    border-radius: 0 3px 3px 0;
}
.content-toggle:hover {
    background-color: #fafafa;
}
.toggle-button {
    color: #050505;
    padding: 6px 20px;
}
.button_active {
    background-color: #ffeaa1;
}

/* content */
.content-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
}
.comment-count {
    font-weight: normal;
}
.comment-rating {
    background-color: #fdc904;
    margin: 20px;
    padding: 4px 8px;
    position: relative;
    font-size: 18px;
}
.comment-rating span:after {
    content: '';
    position: absolute;
    top: 0;
    right: -22px;
    border: 14px solid transparent;
    border-left: 8px solid #fdc904;
}

/* comments */
.comment {
    margin-top: 35px;
}
.comment:first-child {
    margin-top: 0px;
}
.comment__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #a3a3a3;
    font-size: 14px;
}
.comment__user-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
}
.comment__user-picture {
    width: 31px;
    height: 31px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.comment__user-name {
    margin: auto 0;
    font-size: 14px;
    color: #000;
}
.comment__date {
    margin: auto 0;
}
.comment__date-time {
    margin-right: 10px;
}

/* like icons */
.fa-thumbs-up {
    font-size: 24px;
}
.fa-thumbs-up:hover {
    font-weight: bold;
    color: #fdc904;
}
.comment__rating_voted .fa-thumbs-up {
    font-weight: bold;
    color: #fdc904;
}
.fa-rotate {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.comment__body {
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
}
.comment__text {
    margin: 0;
    font-size: 15px;
}
.comment__read-more {
    color: #a3a3a3;
    margin-left: 5px;
}
.comment__footer {
    margin-top: 10px;
}
.comment__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.comment__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #cfcfcf;    
    border-radius: 3px;
    margin-right: 25px;
}
.comment__button:hover {
    background-color: #fafafa;    
}
.button__answer, .button__complain {
    padding: 6px 15px;
    color: #000;
}
.comment__link {
    color: #a3a3a3;
    margin: auto 0;
}
.comment__answer {
    margin: 20px 0 30px 0;
}
.answer__header {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.answer__textarea {
    position: relative;
}
.answer__clear-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 5px;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.answer__clear-btn:hover .close-line {
    background-color: #fc0;
}
.answer__clear-btn:focus .close-line {
    background-color: #fc0;
}
.close-line {
    position: absolute;
    right: 2px;
    top: 12px;
    height: 1px;
    width: 20px;
    background-color: #cfcfcf;
}
.close-line-l {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.close-line-r {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}
.feedback-textarea {
    width: 548px;
    height: 120px;
    padding: 5px;
    max-width: 538px;
    border: 1px solid #cfcfcf;
}
.feedback-textarea:focus {
    -webkit-box-shadow: 0 0 0 1px #fc0;
            box-shadow: 0 0 0 1px #fc0;
    border: 1px solid #fc0;
    outline: none;
}
.answer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.answer__publish-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 11px 25px;
    font-size: 14px;
    border: 0;
    border-radius: 3px;
    background-color: #ececec;
    color: #8d8d8d;
}
.answer__publish-btn:hover {
    background-color: #fc0;
    border-radius: 3px;
    color: #000;
}
.comment__show-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.comment__show-all:hover {
    background-color: #fc0;
}
.show-all-btn {
    margin: 0 auto;
    padding: 15px 0;
    color: #000;
    font-size: 18px;
}